<h3> Category: <%= @category.title %> </h3>
<ul>
  Jobs that belong to this category:
  <% @category.jobs.each do |job| %>
  <li>
    <%= link_to "#{job.title} at #{job.company.name}", company_job_path(job) %>
  </li>
    <% end %>
</ul>
